.faq h1 {
    padding-left: 50px;
    margin: 1em 0 !important;
}

.faq {
    height: fit-content;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-container div {
    width: 80%;
    border: solid #000 1px;
    border-radius: 15px;
    padding: 0 1em;
    background-color: #f1f333;
}

.faq-container p {
    font-size: 1.3rem;
}

.faq-container h3 {
    font-size: 1.5rem;
}

@media screen and (min-width: 2560px) {
    .faq-container p{
        font-size: 2.2rem;
    }

    .faq-container h3 {
        font-size: 2.7rem;
    }
}