* {
  box-sizing: border-box;
}

.hero {
  color: #000;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero-container {
  -webkit-animation: fade-in 2000ms ease-in-out 1 forwards;
          animation: fade-in 2000ms ease-in-out 1 forwards;
  flex-direction: row;
  padding: 13rem 5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-text-container {
  font-size: 8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.hero-text-container small {
  font-size: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2rem;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.hero a {
  align-self: flex-end;
}

.hero button {
  font-size: 1.5rem;
  transition: all ease-in-out 500ms;
  padding: 1em;
  cursor: pointer;
  -webkit-animation: fade-in 6000ms ease-in 1 forwards;
          animation: fade-in 6000ms ease-in 1 forwards;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 250px;
  margin-bottom: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: #fff 10px 10px;
}

.hero button:hover {
  /* box-shadow: #000 5px 5px; */
  transform: translate(-10px, -5px);
  box-shadow: 10px 10px;
  color: #000;
  border-color: #000;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .hero-container {
    padding-top: 10rem;
    padding-right: 4em;
  }
  .hero button {
    margin-right: 0;
    margin-bottom: 80px;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 2560px) {
  .hero-text-container {
    font-size: 15rem;
  }
  .hero small {
    font-size: 3rem;
  }
  .hero button {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    padding: 10rem 2rem;
    flex-direction: column;
  }
  .hero-text-container {
    font-size: 6rem;
  }
  .hero a {
    align-self: center;
    margin-top: 80px;
  }
  .hero small {
    font-size: 1.7rem;
  }
  .hero button {
    margin: 0;
    font-size: 1.5rem;
    padding: 1em;
  }
}
@media screen and (max-width: 425px) {
  .hero small {
    font-size: 1.4rem;
  }
  .hero-container {
    padding: 5.5rem 1rem;
  }
  .hero-text-container {
    font-size: 5rem;
  }
  .hero-text-container span {
    line-height: 4.7rem;
  }
}
@media screen and (max-width: 375px) {
  .hero-text-container {
    font-size: 5rem;
  }
}
@media screen and (max-width: 325px) {
  .hero-text-container {
    font-size: 4rem;
  }
  .hero small {
    font-size: 1.2rem;
  }
  .hero button {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=Hero.css.map */