@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

h1 { 
    margin: 0;
}

.logo h1 {
    font-size: 2rem !important;
}

.logo {
    position: absolute;
    top: 0;
    padding: .5em 0 0 1em;
}

@media screen and (max-width: 425px) { 
    .logo h1 {
        font-size: 1.5rem !important;
    }
}