.logo span {
    font-size:1.8rem !important;
    color: #000;
    font-family: monospace !important;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: .8rem .5rem;
    padding-bottom: 0;
    z-index: 10000;
    img{
        margin: 0;
        max-width: 60px !important;
    }
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
    padding-top: .6rem;
    font-family: Inter !important;
}

.navigation li {
    padding: 0 2rem;
}

@media screen and(min-width: 1500px) {
    .logo span {
        font-size: 2.8rem !important;
    }

    .navigation ul {
        font-size: 2rem;
    }
}

@media screen and(min-width: 600px){
    .menu-icon {
        display: none;
    }
}

@media screen and(max-width: 1024px) {
    .logo span {
        font-size: 1.5rem !important;
    }  
    .logo img {
        height: 50px !important;
    }

    .navigation ul {
        padding-right: 0;
    }
}

@media screen and(max-width: 600px){
    .navigation {
        display: none;
    }

    .logo img {
        height: 40px !important;
    }

    .navigation ul {
        font-size: 1rem;
        padding: 0;
        flex-direction: column;
        li {
            padding: 0;
        }
    }
}