@font-face {
  font-family: mabry;
  src: url(Mabry-Pro-Medium.ttf);
}

.pricing {
  display: flex;
  flex-direction: column;
}

.tiers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tier {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: solid #000 1px;
  margin: 20px;
  padding: 0 2em;
  width: 250px;
  background: #fff;
}

.tier a {
  margin-bottom: 2rem;
  font-size: 1.2rem !important;
}

.tier a:hover {
  color: #fff !important;
  box-shadow: #000 !important;
  border-color: #000 !important;
}

.tier span {
  text-align: center;
}
.addon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: solid #000 1px;
  margin: 20px;
  padding: 0 2em;
  width: 50%;
  min-width: 250px;
  font-family: Arial;
  background: #101010;
  color: #fff;
  text-align: center;
  justify-self: center;
  padding: 2em;
}

.tier h2 {
  text-align: center;
  font-family: grifter;
}

.tier ul {
  height: 200px;
}

.pricing li {
  list-style: disc;
  padding: 0.2em 0;
}

.addon ul li {
  list-style: none;
}

.pricing ul {
  padding: 0;
}

.pricing a {
  font-size: 1.5rem;
  color: #000;
  border-radius: 10px;
  border: solid #000 1px;
  background-color: greenyellow;
  transition: all ease-in-out 500ms;
  padding: 1em;
  cursor: pointer;
  font-family: grifter;
  text-decoration: none;
}

.pricing a:hover {
  transform: translate(-10px, -5px);
  box-shadow: 10px 10px;
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.pricing h1 {
  padding-left: 50px;
  margin: 1em 0 !important;
  margin-bottom: 0 !important;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: grifter;
}

.pricing-container {
  display: grid;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 2560px) {
  .pricing p {
    font-size: 2rem;
  }

  .tier {
    font-size: 2rem;
    width: 400px;
  }

  .tier-content {
    height: 600px !important;
  }

  .price {
    font-size: 3rem;
  }

  .pricing h2 {
    height: 100px;
  }

  .addon ul{
    font-size: 2.2rem;
  }

  .addon h2 {
    font-size: 3rem;
  }
  .addon a {
    font-size: 2rem;
  }
}
