.testimonialsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonialDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: fit-content;
  height: auto;
  background-color: rgba(255, 255, 255, 0.505);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  min-width: 200px;
  min-height: 360px;
  line-height: 23px;
}

.testimonialImg {
  border-radius: 50%;
  align-self: center;
  margin-bottom: 1.5rem;
}

.testimonialText a {
  color: rgb(38, 125, 255);
  text-decoration: none;
}

.testimonialMobile {
  display: none;
}

@media screen and (min-width: 2000px) {
  .testimonialImg {
    width: 120px;
    height: 120px;
  }

  .testimonial {
    max-width: 800px;
    line-height: 2rem;
  }

  .testimonialText {
    font-size: 1.5rem;
  }
}
/* @media screen and (max-width: 1024px) {
  .testimonial {
    flex-direction: column;
  }

  .testimonialImg {
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .testimonialText {
    padding: 0;
  }
} */
.embla {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .testimonialDesktop {
    display: none;
  }

  .testimonialMobile {
    display: flex;
    width: 768px;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .testimonial {
    padding: 1.5rem;
  }
}
